
/*
 * Content
 */
body {
  padding-top: 56px;   // spacing for navbar
}

.single-page-header h1 {
  padding-top:20px;
  padding-bottom: 8px;
}

figure.header {
  padding-top: 10px;
}


div.highlight pre {
    padding: 15px;
    margins: 10px;
    border: 1px solid #999;
}



/*
 * Sidebar
 */

// .sidebar {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     font-size: ($font-size-base * 0.9);
//     z-index: 100; /* Behind the navbar */
//     padding: 60px 0 0; /* Height of navbar 48px */
//     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

//     .nav-link {
// 	font-weight: 500;
// 	color: #333;
//     }

//     .nav-link .feather {
// 	margin-right: 4px;
// 	color: #999;
//     }

//     .nav-link.active {
// 	color: #007bff;
//     }

//     .nav-link:hover .feather,
//     .nav-link.active .feather {
// 	color: inherit;
//     }
// }

// .sidebar-sticky {
//     position: relative;
//     top: 0;
//     height: calc(100vh - 48px);
//     padding-top: .5rem;
//     overflow-x: hidden;
//     overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
// }

// @supports ((position: -webkit-sticky) or (position: sticky)) {
//     .sidebar-sticky {
// 	position: -webkit-sticky;
// 	position: sticky;
//     }
// }

// .sidebar-heading {
//     font-size: .75rem;
//     text-transform: uppercase;
// }



/*
 * Navbar
 */

// .navbar-brand {
//     padding-top: .75rem;
//     padding-bottom: .75rem;
//     font-size: 1rem;
//     background-color: rgba(0, 0, 0, .25);
//     box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);

//     .form-control {
// 	padding: .75rem 1rem;
// 	border-width: 0;
// 	border-radius: 0;
//     }
// }

// .form-control-dark {
//     color: #fff;
//     background-color: rgba(255, 255, 255, .1);
//     border-color: rgba(255, 255, 255, .1);
// }

// .form-control-dark:focus {
//     border-color: transparent;
//     box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
// }

/*
 * Author box
 */
// .author-footer {
//     border-top: 1px solid #eee;
//     margin: 2em auto;
//     padding-top: 2em;

//     img {
// 	border: 1px solid #eee;
// 	padding: 2px;
//     }    
// }




// .homepage_branding {
//     border-top: 1px solid #eee;
//     border-bottom: 1px solid #eee;
//     margin: 2em auto;
//     padding-top: 2em;
//     font-size: large;

// }


