
<div class="card mt-3 mb-5">
    <div class="card-header">
        {{/*  <h3><a href="{{.Permalink}}">{{ .LinkTitle }}</a></h3>  */}}
        <h3>{{ .Title }}</h3>
    </div>
    <div class="card-body">

		{{- if .Sections -}}
		{{- range .Sections -}}
	        <h4><a href="{{.Permalink}}">{{ .LinkTitle }}</a></h4> 
	        {{- if .Data.Pages -}}
		        <ul>
				{{- range $i, $e := .Data.Pages -}}
			    <li><a href="{{ $e.Permalink}}"> {{ $e.LinkTitle }} </a></li>
				{{- end -}}
				</ul>
			{{- end -}}
		{{- end -}}
		{{- end -}}


		{{- range $i, $e := .RegularPages -}}
		    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></li>
		{{- end -}}


    </div>
</div>



