  
<ul>

    {{ template "current-section_pages" . }}
    <br>
    {{ if gt (len .Sections) 0}}
        {{ template "subsection-tree" . }}
    {{ end }}
</ul>
    
{{ define "subsection-tree" }}
{{ range .Sections }}
    <li>
        <h4><a href="{{.Permalink}}">{{ .LinkTitle }}</a></h4> 
    </li>
    <ul>
        {{ template "current-section_pages" . }} 
        <br>
        {{ template "subsection-tree" . }}
    </ul>


{{ end }}
{{ end }}

    
{{ define "current-section_pages" }}
{{/*  Assume I am inside a <ul>  */}}
    {{ range .Pages }}
    <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a></li>
    {{ end }}
{{ end }}
    