<nav class="navbar navbar-dark navbar-expand-lg bg-primary fixed-top">
    <span class="navbar-brand">{{ .Site.Title }}</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        {{/*  Left navbar  */}}
        <ul class="navbar-nav mr-auto">


            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.Home.Permalink }}">Home</a>
            </li>
            {{ with .Site.GetPage "/posts" }}
            <li class="nav-item">
                <a class="nav-link" href="{{ .Permalink }}">Blog</a>
            </li>
            {{ end }}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ range .Site.Sections }}
                    {{ if not (eq .Section "posts") }}
                    <a class="dropdown-item" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    {{ end }}
                    {{ end }}
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    API Docs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {{ range .Site.Data.apidoc.api }}
                    <a class="dropdown-item" target="_blank" href="{{ .url }}">{{ .name }}</a>
                    {{ end }}
                </div>
            </li>

        </ul>

        {{/*  right Navbar  */}}
        {{ if ne .Page.Type "search" }}
        <form class="form-inline my-2 my-lg-0" method="get" action="{{ ref . `/search.md`}}">
            <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        {{ end }}

    </div>

</nav>

{{ if .IsHome }}
<header>
    <div class="jumbotron mt-3 shadow-sm">
        <div class="container">
            <h1 class="display-4 text-center">{{ .Site.Title }}</h1>
            <p class="lead text-center">{{ .Site.Params.subtitle }}</p>
            <hr>
            <p>{{ .Site.Params.description }}</p>
        </div>
    </div>
</header>
{{ end }}