
{{ define "pageheader" }}
    {{ partial "pageheader" . }}
{{ end }}



{{ define "main" }}

<main aria-role="main" class="col">

    <div class="homepage-content">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{ .Content}}
    </div>



    {{- if .Sections -}}
    {{- range .Sections.ByTitle -}}
        {{ .Render "category-card" }}
    {{- end -}}
    {{- end -}}



    <div>
        <h3>Latest Articles</h3>
        <!-- Note that .Pages is the same as .Site.RegularPages on the homepage template. -->
        <ul>
        {{ range first 5 .Site.AllPages }}
            {{ .Render "li-with-description"}}
        {{ end }}
        </ul>
    </div>


</main>

{{ end }}


{{ define "pagefooter" }}
    {{ partial "pagefooter" . }}
{{ end }}



